/*
* -----------------------------------
*  Layout with Grid & Flexbox
*  Author: Jingtian Zou
* -----------------------------------
*  01.Common Styles
*  02.Home
*  03.Education
*  04.Interest
*  05.Pet
*  06.Adopt
*  07.Contact
* -----------------------------------
*/

/* 01.Common Styles */

*{
    /*border: 1px dotted red;*/
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 60px);
    grid-auto-rows: minmax(60px, auto);
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;

    border: 1px solid green;
}

.item {
    /*background: #bdcfef;*/
    /*display: flex;*/
}

.header {
    grid-column: 3 / 11;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    grid-column: 3 / 11;
    grid-row: 3 / span 1;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.separation {
    grid-column: 3 / 11;
    grid-row: 4 / span 5;
}

.footer {
    grid-column: 3 / 11;
    grid-row: 16 / 17;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 02.Home */

.info {
    grid-column: 3 / span 2;
    grid-row: 9 / 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    grid-column: 5 / 11;
    grid-row: 9 / 16;
    display: flex;
    /*justify-content: center;*/
    align-content: space-around;

    flex-direction: column;
    justify-content: space-around;
}

.intro-container {
    display: flex;
    flex-direction: column;
    /*align-content: space-around;*/
    justify-content: space-around;
}

/* 03.Education */
.edu {
    grid-column: 4 / 10;
    grid-row: 8 / 12;
    place-self: center;
}

/* 04.Interest */

.interest {
    grid-column: 3 / 11;
    grid-row: 8 / 12;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* 05.Pet */

.intro-ziye {
    grid-column: 3 / 6;
    grid-row: 8 / 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* dupicate */
.intro-container {
    margin: 0;
}

.moment {
    grid-column: 6 / 11;
    grid-row: 8 / 12;
    display: flex;
    justify-content: center;
}

.moment-container {
    height: 100%;
    width: 100%;
}


/* 06.Adopt */

.app {
    grid-column: 3 / 11;
    grid-row: 4 / 12;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    justify-content: space-between;
}

.guess {
    display: flex;
    justify-content: center;
    align-items: center;

}
.raise {
    display: flex;
    justify-content: space-around;
}

.adopt {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 07.Contact */

.contact {
    grid-column: 3 / 5;
    grid-row: 4 / 12;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.message {
    grid-column: 5 / 9;
    grid-row: 4 / 12;
    display: flex;
    flex-direction: column;
    /*align-items: start;*/
    /*justify-items: stretch;*/
}

.msgForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    justify-items: stretch;

}

.form-item {
    display: flex;
    flex-direction: column;
}

.board {
    grid-column: 9 / 11;
    grid-row: 4 / 12;
    display: flex;
    justify-content: center;
}

.board-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.board-item {
    width: 100%;
    overflow-y: scroll;
    overflow-wrap: break-word;
}







